--extra-index-url https://download.pytorch.org/whl/cpu
torch
flask
requests
beautifulsoup4
python-dotenv
langchain
langchain-chroma
langchain-huggingface
langchain-groq
pypdf
sentence-transformers
flask-cors
